{% extends 'Reservation/base.html' %}
{% load static %}
{% block title %}
    Hall
{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1 style="text-align:center;">Filter date</h1>
        <form method="post" class="post-form" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Request"/>
        </form>
    </div>
    <div class="col-md-8 col-md-offset-3">
        <a href="/date/{{ before_date }}">
            <div class="col-md-4" id="triangle_left"
                 style="width: 0; height: 0; border-top: 40px solid transparent; border-right: 100px solid #5c5c5c; border-bottom: 40px solid transparent;">
            </div>
        </a>
        <a href="/date/{{ after_date }}">
            <div class="col-md-4 col-md-offset-2" id="triangle_right"
                 style="width: 0; height: 0; border-top: 40px solid transparent; border-left: 100px solid #5c5c5c; border-bottom: 40px solid transparent;">
            </div>
        </a>
    </div>
    {% if form_booking is not None %}
        <div class="col-md-8 col-md-offset-2">
            <h1 style="text-align:center;">Booking form</h1>
            <form method="post" class="post-form" enctype="multipart/form-data">
                {{ form_booking.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Request"/>
            </form>
        </div>
    {% endif %}
    <div class="col-md-8 col-md-offset-1" id="rectangle"
         style="width:{{ width_hall }}px; height:{{ height_hall }}px; background-color:#5c5c5c; position: relative">

        {% for obj in data_list %}
            {{ obj|safe }}
        {% endfor %}

    </div>
{% endblock %}